.button {
    border: none;
    background-color: #FFFFFF;
    margin: 5px;

    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.button:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #A5A9C0;
    transform: scale(1.01);
}
.big {
    color: #454850;
    font-size: 1.38rem;
    font-weight: 500;

    padding: 17px 70px;
}