@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

.red_highlight {
  color: #C58989 !important;
}
.green_highlight {
  color: #91C589 !important;
}
.blue_highlight {
  color: #898FC5 !important;
}
.yellow_highlight {
  color: #DBC96D !important;
}